matrix:
  include:
  - os: osx
    language: generic
    osx_image: xcode12.2
    env: MPI_VERSION=OPENMPI
    addons:
      homebrew:
        packages:
          - open-mpi
          - python3
        update: true
    cache:
      directories:
        - $HOME/Library/Caches/Homebrew
    before_cache:
      - brew cleanup
  - os: linux
    dist: focal
    language: python
    python: "3.9-dev"
    env: MPI_version=MPICH
    addons:
      apt:
        packages:
          - openmpi-bin
          - libopenmpi-dev
          - python3.9-dev
          - python3.9-venv
  - os: linux
    dist: focal
    language: python
    python: "3.9-dev"
    env: MPI_VERSION=OPENMPI
    addons:
      apt:
        packages:
          - mpich
          - libmpich-dev
          - python3.9-dev
          - python3.9-venv

install:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install .

script:
  - export OMPI_MCA_rmaps_base_oversubscribe=yes
  - pytest tests

deploy:
  provider: pypi
  username:
    secure: "nV77Ac3P9u0vscrWcvAkynWsged9TaGPq+r+BU010dY6mjl8A3MERimJgQbhdWopEFRiqluBBC++HCF4ZJquPqtbScF/x7rm+OsYiLeHW4c5hWdgvee+0EQrbK4aKKzpjXno8Fu93a7jXzgJjBEfhaQhkvOvLlOF+9hnwne216j/Dk3kegz/MAVpxYj+xNkvBuynF/MbDGPsylqKKSeB+P5osmQcNGPrs7wUp2Pm1HyQqUSRQQVldwB0/orFU7TaevUMcX428Q/9Hh/5QkhsUunkl6H/iMnu4FKnqJ/7iN3s3PRWpCFutcd1o0+bERyGucmqi5L/nb9le2l/K+OSzKeJU7AtfmZl6LoejuDT2sCNP1JPhwY1/LxWOU662BFFm1m75nO6UhgGOB80jNYEL6tPeS+Ri6aOVHfoaRL7npShMo8M2GIHtMVrr2KAOsHqcM6+PK6ZumwC9jo6GRkafajG25RFxjQpHShBAcdIVN3G6ygjS5FItSOQpFsTZ1MI6PtgbkX9KiQtsbqiBvEncBi/I/mkkswZpZVPq0vSgcdiU12aHV8bRqE6cIbNZlGv5+gQL0zK5sikWLnqxNuyeuzfXM9322XP/n8wAf8MNrgItDupoBes/fECn9TpywVkzL1T10d5HquIAoaU2U65rRqEDtEzO3qopwoldOEn1fI="
  password:
    secure: "oqAsuLFj8HrCgaIN0kQWclSygCNBV4fumvifu8QEOEQsh/IwTNoxasYhOwHc5/OkgzVyI7EocTrVDiG8vtDXR2JGs1nhk3hn7K2CrM1lFvr06CKNNqeP6XbJSgaOKkMcOCtbZJjI56H6VvWSI1GL9amqdbsRtUFYLBj1F7VypdFmoKNA2MsOTK2EN5ChjiwQkUiJYi2BdcJ5np/jfbaJbcJTg+WdV7MFHzojj3QrjIK9ocYaDxGCVbOuDSJi1Rcq+nsruj1B+Vn1pOP5RzYUV/o6izscFV2iSFbDNFjv4BrOabgV9eReJzG+r3hrB1pBoIexVmFNLOVfEFXXol8VhOQR0kLlOEWE5Amgchd1Dw8xQmSSn1H1bwtuEvOkswYown5WlshD1OCqbYCF+VRXGaNMmFo1ebqnRv3/fToY5Aq4ItLBIoJqKP2zNGdyA686gczWWRGpRKJkpabMGqia8e2WYoCIueRETn8cHr4RbmoBLH56fPMx/KOyiXmk0igLr0HmWG2kLaCqruHt9qmlQcHe1Ccj6N5W7n3snIl5DeotelIICBb6ZdNF2zJj2fP6i5gqKwJOwRmJc4tIq38lLH2Pxl9fXcfXVupJKQOdSRuzIzmRP3pVgV8EWXNBWs8s2riMKabqjgyaZSgRTWvPrIH+uFUgAfmcGMUHc5SZ/lQ="
  on:
    tags: true
    condition: $MPI_VERSION = MPICH
  skip_existing: true
  skip_cleanup: true